:root{
    --ult_scale: 1;
    --penult_scale: 0.75;
    --mid_scale: 0.65;
    --ult_rot: 15deg;
    --penult_rot: 8deg;
    --mid_rot: 6deg;
    --search: rgba(10, 10, 10, 0.249);
}
body{
    background-image: url(https://www.100hdwallpapers.com/wallpapers/2560x1440/cyberpunk_2077-hd_wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
    font-style: oblique;
    user-select: none;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 1em;
    height: 50px;
    text-align: center;
    font-size: 40px;
    background-color: var(--search);
    color: white;
    transform: translateX(-50px) translateY(-15px);

    border-radius: 10px;
    border: none;
}
input{
    margin-top: 1em;
    height: 50px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    background-color: var(--search);
    backdrop-filter: blur(4px);
    color: black;
    border-radius: 10px;
    color: white;
    outline: none;
}
::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
img{
    height: 80px;
    margin: 10px;
    padding: 20px;
    margin: 0px 10px;
}
table{
    
}
td{
    background-color: rgba(0, 0, 0, 0.334);
    border-radius: 10px;
    backdrop-filter: blur(3px) brightness(100%);
    border: 2px solid gold;
    transition: 0.2s;
}
.one{
    transform: translateY(20px);
}
.two{
    transform: translateY(60px);
}
.three{
    transform: translateY(100px);
}
.o1{
    transform: 
    perspective(100px)
    rotateY(var(--ult_rot))
    scale(var(--ult_scale))   
}
.o2{
    transform: 
    perspective(100px)
    rotateY(var(--penult_rot))
    scale(var(--penult_scale))
}
.o3{
    transform: 
    perspective(100px)
    rotateY(var(--mid_rot))
    scale(var(--mid_scale))
}
.o4{
    transform: 
    perspective(100px)
    rotateY(calc(-1*var(--mid_rot)))
    scale(var(--mid_scale))
}
.o5{
    transform: 
    perspective(100px)
    rotateY(calc(-1*var(--penult_rot)))
    scale(var(--penult_scale))
}
.o6{
    transform: 
    perspective(100px)
    rotateY(calc(-1*var(--ult_rot)))
    scale(var(--ult_scale))
}
.loader{
    height: 100px;
}
.o1:hover ,.o2:hover{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.o3:hover ,.o4:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.o5:hover ,.o6:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
#clock {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: #66ff99;
    font-size: 25px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 90px 9px rgba(45,255,196,0.9);
  }