:root{
    --in-img: 9vh;
    --out-img: 21vh;
    --theme-color: rgba(0, 0, 0, 0.408); 
    --img: 7vh;
    --img_hover: 8vh;
    --out_ring: 55vh;
    --in_ring: 30vh;
}
::selection{
    color: rgb(0, 89, 255);
    background: rgba(172, 255, 47, 0.479);
}
body{
    margin: 0px;
    background: url(https://images8.alphacoders.com/131/1314784.png);
    background-position: center;
    background-attachment: fixed;
    font-family: "Playwrite PE";
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    user-select: none;
}
h1.name{
    font-size: 40px;
    font-family: "Playwrite PE";
    letter-spacing: 2px;
    display: inline;
    margin-left: 20px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg ,blue, darkblue);
    transform: scale(2);
}
header{
        --s: 67px; /* control the size*/
        --c1: #f2f2f2;
        --c2: #cdcbcc;
        --c3: #999999;
        
        --_g: 0 120deg,#0000 0;
        background:
          conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
          conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
          conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
          conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
          conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
          conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
          conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
        background-size: calc(var(--s)*1.732) var(--s);
      
}
.cal-clock{
    display: inline-block;
    position: relative;
    left: 25%;
}
#clock, #calendar {
    display: inline-block;
    font-size: 5vh;   
    color: rgb(0, 179, 255);
    text-shadow: 2px 2px black, -2px -2px black;
    letter-spacing: 3px;
    transform: translateX(-100px);
}
#calendar{
    color: red;
    background-color: yellow;
    padding: 4px;
    border-radius: 10px;
}
::placeholder{
    color: white;
    font-weight: 600;
    text-align: center;
}
.search{
    position: relative;
    width: 30vw;
    height: 4vh;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

/*Side Bar*/
aside.left{
    width: max-content;
    position: relative;
    background-color: var(--theme-color);
    height: 70vh;
    padding: 5vh 4vh 10vh 2vh;
    border-right: 2px solid black;
}
aside.left a{
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Space Grotesk';
    font-weight: 900;
}
aside.left a:hover{
    color: rgb(55, 255, 0);
}


/*Middle Disk*/

.disc{
    border-radius: 50%;
    border: black 2px solid;
}
.disc1{
    position: fixed;
    inset: 0px;
    height: var(--out_ring);
    width: var(--out_ring);
    margin: auto;
    background-image: repeating-conic-gradient(gold 60deg,transparent 90deg);
}
.disc2{
    position: fixed;
    inset: 0px;
    height: var(--in_ring);
    width:var(--in_ring);
    margin: auto;   
    background-image: repeating-conic-gradient(from -45deg,transparent 30deg, gold 60deg);
}
.disc_img{
    padding: 3px;
    position: fixed;
    inset: 0px;
    width:  var(--img);
    border-radius: 50%;
    margin: auto;
    transition: 0.1s;
    filter: drop-shadow(4px 4px 0px violet);
}
.disc_img:hover{
    width: var(--img_hover);
}

.o1{ transform: translateX(0) translateY(0);}

.o2{ transform: translateX(calc(cos(0deg)*var(--in-img))) translateY(calc(sin(0deg)*var(--in-img)));}
.o3{ transform: translateX(calc(cos(90deg)*var(--in-img))) translateY(calc(sin(90deg)*var(--in-img)));}
.o4{ transform: translateX(calc(cos(180deg)*var(--in-img))) translateY(calc(sin(180deg)*var(--in-img)));}
.o5{ transform: translateX(calc(cos(270deg)*var(--in-img))) translateY(calc(sin(270deg)*var(--in-img)));}

.o6{ transform: translateX(calc(cos(0deg)*var(--out-img)))  translateY(calc(sin(0deg)*var(--out-img)));}
.o7{ transform: translateX(calc(cos(30deg)*var(--out-img)))  translateY(calc(sin(30deg)*var(--out-img)));}
.o8{ transform: translateX(calc(cos(60deg)*var(--out-img)))  translateY(calc(sin(60deg)*var(--out-img)));}
.o9{ transform: translateX(calc(cos(90deg)*var(--out-img)))  translateY(calc(sin(90deg)*var(--out-img)));}
.o10{transform: translateX(calc(cos(120deg)*var(--out-img)))  translateY(calc(sin(120deg)*var(--out-img)));}
.o11{transform: translateX(calc(cos(150deg)*var(--out-img)))  translateY(calc(sin(150deg)*var(--out-img)));}
.o12{transform: translateX(calc(cos(180deg)*var(--out-img)))  translateY(calc(sin(180deg)*var(--out-img)));}
.o13{transform: translateX(calc(cos(210deg)*var(--out-img)))  translateY(calc(sin(210deg)*var(--out-img)));}
.o14{transform: translateX(calc(cos(240deg)*var(--out-img)))  translateY(calc(sin(240deg)*var(--out-img)));}
.o15{transform: translateX(calc(cos(270deg)*var(--out-img)))  translateY(calc(sin(270deg)*var(--out-img)));}
.o16{transform: translateX(calc(cos(300deg)*var(--out-img)))  translateY(calc(sin(300deg)*var(--out-img)));}
.o17{transform: translateX(calc(cos(330deg)*var(--out-img)))  translateY(calc(sin(330deg)*var(--out-img)));}


