:root{
    --search-background: rgb(3, 104, 255);
    --search-text-color: rgb(255, 255, 255);
    --icon: rgb(0, 51, 255);
    --icon_hover: rgb(48, 48, 48);
    --loader_bg: white;
}
body{
    background-image: url(https://wallpapers.com/images/featured/cool-4k-ultra-hd-nao22k6od4a4djyl.jpg);
    background-size: cover;
    background-position: 100% 25%;
    user-select: none;
    background-repeat: no-repeat;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Light-Dark Mode*/
.mode{
    display: inline;
    float: right;
    font-size: 50px;
}
.change {
    position: relative;
    cursor: pointer;  
    z-index: 4;
}
.dark{
    background-image: url(https://images3.alphacoders.com/135/1354450.jpeg);
    background-color: black;
    background-size: 100%;
    background-position: 60% 30%;
}
.nav{
    background-color: rgba(196, 203, 255, 0.214);
    width: 100%;  
    height: 60px;
    padding: 20px 0px;
    backdrop-filter: blur(2px);
    perspective: 170px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 70% 100%, 0 70%);
}
h1{
    transform: translateX(30px) scale(1.2);
    margin: 10px;
    font-size: 40px;
    letter-spacing: 2.5px;
    width: min-content;
    -webkit-text-stroke: 0.6px rgb(252, 75, 255);
    display: inline;
}
/*Copy Text*/
.copy{
    float: right;
    transform: translateX(-40px);
    
}
.copy #myInput{
      background-color: transparent;
      border: 0;
      height: 0;
      width: 0;
      border-radius: 10px;
      font-size: 10px;    
}
button.copytext{
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 20% 80% 20% 80% / 80% 20% 80% 20% ;
    transform: scale(1) rotate(10deg);
    font-size: 10px;
    background-color: #00fff2;
    transition: 0.1s;
}
button.copytext:hover{
    transform: scale(0.9);
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: -75px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    margin-left: -5px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  .searchform{
    display: inline;
    caret-color: var(--search-text-color);
    font-size: 25px;
}
.search{
    background-color: var(--search-background);
    color: var(--search-text-color);
    border: 0;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-left: 1em;
    box-shadow: 3px 3px 0 black;
}
::placeholder{
    font-size: 15px;
    color: var(--search-text-color);
    text-align: center;
}

/*Clock*/
#clock {
    color: blue;
    background-color: white;
    padding: 5px;
    width: max-content;
    float: right;
    font-size: 25px;
    margin-right: 100px;
    text-align: right;
}

/*Loader*/

.loader{
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*r4K1PRHfbKG7NpoRx22K4A.gif);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    margin: -8px;
    padding-right: 17px;
    height: 101%;
    width: 99.35%;
    animation: loader 0s 1 ease-in-out forwards;
    transition-property: transform;
}
@keyframes loader {
    0%{background-color: var(--loader_bg); z-index: 1; opacity: 1;}
    90%{background-color: var(--loader_bg); z-index: 1; opacity: 1;}
    100%{background-color: transparent; z-index: -1; opacity: 0;}
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(253, 142, 161), violet, magenta);
    border-right: 7px #212227 solid;
    background-clip: padding-box;
}
::-webkit-scrollbar-track{
    background-color: #212227;
}
.box_whole{
    margin-left: 20px;
}
img{
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 2px var(--icon),5px 5px 0 0 var(--icon);
    transition: 0.1s;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
a{
    border: 0;
}
img:hover{
    transform: scale(0.9);
    box-shadow: 0 0 0 2px var(--icon_hover) ,3px 3px 0 0 var(--icon_hover);
    -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
/*General*/
.whatsapp{
    background-image: url(https://www.freeiconspng.com/thumbs/logo-whatsapp-png/logo-whatsapp-png-pic-0.png);
    background-size: 70%;
    background-position: center;
    background-color: #ffffff;
}
.youtube{
    background-image: url(https://static.vecteezy.com/system/resources/previews/023/986/704/non_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png);
    background-size: 90%;
    background-position: center;
    background-color: cyan;
}
.gmail{
    background-image: url(https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png);
    background-size: 60%;
    background-position: center;
    background-color: rgb(153, 255, 0);
}
.telegram{
    background-image: url(https://static.vecteezy.com/system/resources/previews/023/986/534/non_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png);
    background-size: 90%;
    background-color: white;
    background-position: center;
}
.codepen{
    background-image: url(https://seeklogo.com/images/C/codepen-logo-FDEB3664F1-seeklogo.com.png);
    background-size: 75%;
    background-color: skyblue;
    background-position: center;
}
.keeps{
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/free-google-keep-4762010-3955523.png?f=webp);
    background-size: 80%;
    background-color: grey;
    background-position: center;
}
.pinterest{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png);
    background-size: 80%;
    background-color: wheat;
    background-position: center;
}
.spotify{
    background-image: url(https://www.freepnglogos.com/uploads/spotify-logo-png/file-spotify-logo-png-4.png);
    background-size: 60%;
    background-color: rgb(211, 140, 255);
    background-position: center;
}
.drive{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Google_Drive_logo.png/240px-Google_Drive_logo.png);
    background-size: 70%;
    background-color: rgb(255, 140, 140);
    background-position: center;
}


iframe{
    transform: scale(0.7);
    border-radius: 20px;
    position: relative;
    float: right;
    height: 465px;
    width: 320px;
    margin-top: -150px;
}

